flask_dir/__pycache__/__init__.cpython-310.pyc
flask_dir/plotlydash/__pycache__/dashboard.cpython-310.pyc
flask_dir/__pycache__/routes.cpython-310.pyc
flask_dir/__pycache__/forms.cpython-310.pyc
flask_dir/__pycache__/models.cpython-310.pyc
flask_dir/__pycache__/__init__.cpython-38.pyc
website_vid.gif
flask_dir/static/profile_images/9681622b9fa8c2f8.jpg
